* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

nav {
  width: 418px;
  height: 38px;
  display: flex;
  justify-content: space-around;
  margin-top: 67px;
  display: flex;
  align-items: center;
}

button {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 7px;
  background: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  border: none;
  transition-duration: 0.2s;
}

button:hover {
  /* transform: scale(1.1); */
  color: #ffffff;
  background-image: linear-gradient(90deg, #6f3891 0%, #54c7ce 100%);
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  background: linear-gradient(90deg, #6f3891 0%, #54c7ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h4 {
  /* font-weight: 700; */
  /* font-size: 14px; */
  /* line-height: 17px; */
  text-align: center;

  background: linear-gradient(90deg, #00416a 0%, #b19264 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.flex {
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  /* align-items: center; */
}

#intro-btn:hover,
#education-btn:hover {
  background-image: linear-gradient(90deg, #6f3891 0%, #54c7ce 100%);
}

#about-me-btn:hover,
#projects-btn:hover {
  background-image: linear-gradient(90deg, #00416a 0%, #b19264 100%);
}

#offset-card {
  transform: skewY(-11deg);
  background: linear-gradient(
    268.91deg,
    #00416a -0.02%,
    rgba(228, 229, 230, 0) 97.63%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;
}

#main-card {
  transform: skewY(11deg);
  background: #ffffff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  width: 90%;
  height: 80%;
  margin: 90px auto auto auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* INTRO */
#intro-card {
  margin-top: 140px;
}

#intro-h1 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

#intro-h1-span {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  background: linear-gradient(90.33deg, #6f3891 0.27%, #54c7ce 99.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#intro-p-span {
  background: linear-gradient(90.33deg, #00416a 0.27%, #b19264 99.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#intro-p {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

#waving-emoji {
  position: absolute;
  bottom: 0;
  left: 210px;
}

/* ABOUT ME */

#about-me-wrapper {
  height: 60%;
  width: 73%;
  background-color: #ffffff;
  margin-top: 77px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#profile-img-wrapper {
  width: 38%;
  height: 470px;
  background: #f9f9f9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

#profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

#about-me-btn-wrapper {
  width: 15%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#about-me-btn-wrapper button {
}

#about-me-btn-wrapper button img {
  width: 20px;
  height: 20px;
  margin: auto;
}

#descr-wrapper {
  width: 38%;
  margin-right: 50px;
}

#descr-wrapper p {
  font-family: "Rubik", sans-serif;
  padding: 7px;
  background: linear-gradient(90deg, #00416a 0%, #b19264 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
}

/* EDUCATION */

#education-wrapper {
  display: flex;
  width: 90%;
  margin-top: 77px;
  justify-content: space-between;
}

#education-card,
#tools-card {
  height: 575px;
  width: 48%;
  background: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

#icons-wrapper,
#icons-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tool-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.tool-wrapper p {
  text-align: center;
}

.tool-wrapper img {
  display: block;
  /* text-align: center; */
  width: 81px;
  height: 81px;
  margin-left: auto;
  margin-right: auto;
}

/* PROJECT */

#projects-wrapper {
  display: flex;
  margin-top: 77px;
  width: 90%;
  justify-content: space-between;
}

.project-card {
  width: 260px;
  height: 478px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  transition-duration: 0.2s;
  justify-content: space-between;
  /* height: 50%; */
  /* width: 24%; */
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card p {
  padding: 17px;
  font-size: 14px;
}

.proj-img-wrapper {
  height: 48%;
  width: 100%;
  /* border-radius: 18px; */
}

.proj-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  /* border-radius-t: 18px; */
}

.proj-btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 10%;
}

#computer-emoji {
  position: absolute;
  bottom: 0;
  left: 210px;
}
